<% content_for :head do %>
    <title>Panda Tickle: Home</title>
    <%= stylesheet_link_tag "home", :media => "all" %>
<% end %>
<% content_for :center do %>
<section id="center_stage">
  <p><span class="development">Test View: Application</span></p>
  <p><span class="development">under development</span></p>
</section>
<% end %>
<% content_for :scripts do %>
<% javascript_include_tag "intro.js" %>
<% end %>
