// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css");
/* this css is for home page, however tags in the section id
will affect sign up, login, faq and forms */

nav {
  max-width: 				1200px;
}

#center_stage {
  background-color: 			white;
  height: 					300px;
}


#floor {
  width:					400px;
  height:					400px;
  background-image:		url(ground.jpg);
  z-index: 				5;
}

#backdrop {
  width:					350px;
  height: 				400px;
  background-image:		url(sky1.png);
  z-index: 				5;
}

#hill {
  width: 					350px;
  height:					180px;
  background-image: 		url(hill.png);
  z-index: 				5;
}

#tree_right1 {
  width: 					80px;
  height:					180px;
  background-image:		url(tree2.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
  overflow: 				visible;
}

#tree_right2 {
  width: 					110px;
  height:					200px;
  background-image:		url(tree3.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
}

#tree_right3 {
  width: 					80px;
  height:					220px;
  background-image:		url(tree1.png);
  background-repeat: 		no-repeat;
  z-index: 				4;
}

#tree_left1 {
  width: 					80px;
  height:					220px;
  background-image:		url(tree1.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
}

#tree_left2 {
  width: 					80px;
  height:					220px;
  background-image:		url(tree1.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
}

#tree_left3 {
  width: 					80px;
  height:					180px;
  background-image:		url(tree2.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
}

#tree_back1 {
  width: 					144px;
  height:					195px;
  background-image:		url(tree4.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
}

#backgrass {
  width:					425px;
  height:					137px;
  background-image:		url(backgrass.png);
  background-repeat: 		no-repeat;
  z-index: 				5;
}

#undergrowth1 {
  width:					410px;
  height:					20px;
  background-image: 		url(grass1.png);
}

#undergrowth2 {
  width:					410px;
  height:					20px;
  background-image: 		url(grass1.png);;
  z-index: 				4;
}

#sun {
  width:					80px;
  height: 				80px;
  border-radius: 			50% 50% 50% 50%;
  background-image: 		linear-gradient(top, #A2000C 4%, #FFDE40 85%);
  background-image: 		-moz-linear-gradient(top, #A2000C 4%, #FFDE40 85%);
  background-image: 		-webkit-linear-gradient(top, #A2000C 4%, #FFDE40 85%);
  z-index: 				10;
}

#pandacloud {
  width: 					150px;
  height: 				85px;
  background-image: 		url(pandacloud.png);
}

#ticklecloud {
  width:					190px;
  height: 				120px;
  background-image: 		url(ticklecloud.png);
}

#panda1 {
  width:					32px;
  height:					32px;
  z-index: 				10;
}

#panda2 {
  width:					32px;
  height:					32px;
  z-index: 				10;
}

#panda3 {
  width:					32px;
  height:					32px;
  z-index: 				10;
}

#panda4 {
  width:					32px;
  height:					32px;
  z-index: 				10;
}

#score {
  width: 					80px;
  height: 				auto;
  top:					16%;
  right: 					5%;
  bottom: 				5%;
  left:					68%;
  margin: 				1% 1% 1% 1%;
  padding: 				5% 5% 5% 5%;
  color: 					black;
  z-index: 				20;
  text-align: 			center;
  font-family: 			'Share Tech Mono', sans-serif;
  font-size: 				small;
}

#score p {
  margin: 				5% 1% 1% 1%;
  padding: 				5% 5% 5% 5%;
  border-radius: 			2px 2px 2px 2px;
  color: 					white;
  font-weight: 			600;
  background-image: 		linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
  background-image: 		-moz-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
  background-image: 		-webkit-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
}

#timer {
  width: 					112px;
  height: 				auto;
  top: 					1%;
  right: 					90%;
  bottom: 				5%;
  left:					3%;
  margin: 				1% 1% 1% 1%;
  padding: 				5% 5% 5% 5%;
  color: 					black;
  z-index: 				20;
  text-align: 			center;
  font-family: 			'Share Tech Mono', sans-serif;
  font-size: 				small;
}

#timer p {
  margin: 				10% 1% 1% 1%;
  padding: 				2% 2% 2% 2%;
  border-radius: 			2px 2px 2px 2px;
  color: 					white;
  font-weight: 			600;
  background-image: 		linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
  background-image: 		-moz-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
  background-image: 		-webkit-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
}

#gamerMsg {
  width: 					180px;
  height: 				auto;
  position: 				absolute;
  top: 					1%;
  right: 					30%;
  bottom: 				5%;
  left:					12%;
  margin: 				1% 1% 1% 4%;
  padding: 				5% 5% 5% 5%;
  color: 					black;
  z-index: 				20;
  text-align: 			center;
  font-family: 			'Share Tech Mono', sans-serif;
  font-size: 				small;
}

#gamerMsg p {
  margin: 				5% 1% 1% 1%;
  padding: 				3% 2% 3% 2%;
  border-radius: 			2px 2px 2px 2px;
  color: 					white;
  font-weight: 			600;
  background-image: 		linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
  background-image: 		-moz-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
  background-image: 		-webkit-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
}

#scoreboard {
  width: 					485px;
  height: 				50px;
  background-color: 		red;
  background-image: 		linear-gradient(bottom, #C0C0C0 44%, #000000 100%);
  background-image: 		-moz-linear-gradient(bottom, #C0C0C0 44%, #000000 100%);
  background-image: 		-webkit-linear-gradient(bottom, #C0C0C0 44%, #000000 100%);
}

table {
  width:                      80%;
  font-size:                  75%;
  color:                      #000000;
}

table th {
  text-align:                 left;
  font-family:                "caesar dressing", sans-serif;
  font-weight:                600;
}

table td {
  background-color:           white;
  padding:                    2%;
  font-weight:                400;
}

.form_text {
  color:                      white;
  font-family:                'Caesar Dressing', sans-serif;
}

.text_field {
  width:                      85%;
}

